ul.ul {
    padding: 0px;
    max-width: 400px;
    margin: auto;
}

li.li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

li.li label {
    font-weight: bold;
}

.classImage {
    width: 120px;
    overflow: hidden;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 120px;
    flex-shrink: 0;
    margin: 0px 10px;
}

.classDescription {
    flex-grow: 1;
}